<h3>Reactivo</h3>

<form (ngSubmit)="registro()" [formGroup]="form">
  <div>
    <label for="username">Username:</label>
    <input formControlName="username" id="username" type="text">

    <app-error *ngIf="showErrors(usernameInput)" [errores]="usernameInput.errors"></app-error>
  </div>

  <div>
    <label for="email">Email:</label>
    <input formControlName="email" id="email" type="email">

    <app-error *ngIf="showErrors(emailInput)" [errores]="emailInput.errors"></app-error>
  </div>

  <div>
    <label for="password">Password:</label>
    <input formControlName="password" id="password" type="password">

    <app-error *ngIf="showErrors(passwordInput)" [errores]="passwordInput.errors"></app-error>
  </div>

  <div>
    <label for="confirmarPassword">Confirmar password:</label>
    <input formControlName="confirmarPassword" id="confirmarPassword" type="password">

    <app-error *ngIf="showErrors(confirmarPasswordInput)" [errores]="confirmarPasswordInput.errors"></app-error>
  </div>

  <button [disabled]="form.invalid" type="submit">Regístrate</button>
</form>
