<h2>Peticiones HTTP</h2>

<form (ngSubmit)="actualizar()" [formGroup]="formEditar">
  <div>
    <label for="titulo">Título</label>
    <input formControlName="titulo" id="titulo" type="text">
  </div>

  <div>
    <label for="completada">Completada:</label>
    <input formControlName="completada" id="completada" type="checkbox">
  </div>

  <button [disabled]="formEditar.invalid" class="btn btn-secondary m-2" type="submit">
    Actualizar
  </button>
</form>

<button (click)="guardar()" class="btn btn-success m-2" type="button">Crear tarea</button>

<ul>
  <li *ngFor="let tarea of tareas">
    {{ tarea.titulo }} ({{ (tarea.completada ? 'completada' : 'no completada') | uppercase }})

    <button (click)="completar(tarea)" class="btn btn-warning m-2" type="button">
      Hacer/Deshacer tarea
    </button>

    <button (click)="eliminar(tarea.id!)" class="btn btn-danger m-2" type="button">
      Eliminar tarea
    </button>

    <button (click)="rellenarFormulario(tarea)" class="btn btn-info m-2" type="button">
      Editar tarea
    </button>
  </li>
</ul>
