<h2>Data Binding</h2>

<h3>String interpolation</h3>
<p>Nombre: {{ nombre }}</p>
<p>Nombre: {{ getNombre() }}</p>
<p>Hola {{ nombre2 ? nombre2 : 'mundo' }}</p>
<!-- Truthy: true, número != 0, string != '' y resto de cosas -->
<!-- Falsy: false, 0, '', null, undefined, NaN -->


<h3>Property Binding</h3>
<input type="text" [disabled]="deshabilitarInput" [placeholder]="nombre">
<input type="text" [placeholder]="getNombre()">
<input type="text" [placeholder]="nombre2 ? nombre2 : 'Introduzca un nombre'">
<img [src]="logo.url" [alt]="'Logo de ' + logo.nombre" width="150">

<h3>Event Binding</h3>
<button type="button" (click)="cambiarNombre('Mike Kozinski', $event)">Cambiar nombre de Falco</button>

<h3>Two-Way Data Binding</h3>
<input type="text" [(ngModel)]="nombre">
<input type="text" [value]="nombre" (keyup)="actualizarNombre($event)">

